mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Ultilizando o Openstreetmap como solução de mapas abertos - Lições aprendidas
  link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      +slide('bluemap')
        h3 Openstreetmap como solução de mapas abertos
        h1 Lições aprendidas
      +slide('blue')
        h2 Sobre mim
        ul
          li Desenvolvedor web há 6 anos
          li Brincando com Linux e o mundo Open Source desde 2011
          li e-commerces (Trocafone, Dafiti)
          li Fundador e Desenvolvedor Beeline-App
      +slide('blue')
        h1 Mapas Open Source
        h3 Porque utilizar?
      +slide('blue')
        h2 Quem poderia utilizar?
        ul
          li Desenvolvedores de aplicativos com mapas
          li Arquitetos, Urbanistas e engenheiros
          li Poder Público
      +slide('blue')
        h2 Open Source
        h3 &mdash; vs &mdash;
        h2 Google Maps
      +slide('blue')
        h2 Comparação cidade universitária
        iframe(width="560", height="315", src="http://tools.geofabrik.de/mc/#14/-23.5612/-46.7283&num=2&mt0=geofabrik&mt1=google-map", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Evolução Liberdade
        iframe(width="720", height="480", src="http://osm-analytics.org/#/compare/polygon:l%7Bs%7BGxxwnCzEdPfE%7CHdAhEt%40dLnAxJKvKbBjc%40wb%40bJ%7BHSzA~%40CZWVeBDaBbD%5DfAa%40dH%5Bj%40aTx%40sCKkAc%40e%40u%40uNC_P%7DpA%60Bo%40XcEnAiB%5EeHrAArDk%40kDcOrLeEt%40uUn%40D%7CA%7CD%7C%40fAjBx%40fANzb%40nA/2016...now/buildings", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Vídeo de 10 anos de Openstreetmap
        iframe(width="560", height="315", src="https://www.youtube.com/embed/7sC83j6vzjo", frameborder="0", allowfullscreen)
      +slide('blue')
        h3 Lição 1
        h1 Dados
      +slide('blue')
        h2 Informações geoespaciais
        ul
          li Ponto (Nodes)
          li Linha (Ways)
          li Polígonos (Polygon)
      +slide('blue')
        h2 Arquivo .OSM
        pre.language-xml.small= '<node id="181854294" lat="-23.5454466" lon="-46.56614" version="3" timestamp="2010-03-11T22:52:43Z" changeset="4102354" uid="19917" user="diogow">' + "\n" + '    <tag k="name" v="Artesanal"/>' + "\n" + '    <tag k="amenity" v="restaurant"/>' + "\n" + '</node>'
      +slide('blue')
        h2 Outros Formatos
        ul
          li: a(href="https://github.com/mapbox/pbf") PBF - Protocol buffer (.pbf)
          li: a(href="https://github.com/mapbox/vector-tile-spec") MbTiles - Tiles vetorizados (.mbtiles)
          li: a(href="http://geojson.org") GeoJson - Informações geoespaciais em formato JSON (.geojson)
      +slide('blue')
        h2 Aonde Adquirir dados
        ul
          li: a(href="https://mapzen.com/data/metro-extracts/") Mapzen
          li: a(href="http://download.geofabrik.de") Geofabrik
      +slide('blue')
        h2 Licença
        p: a(href="http://opendatacommons.org/licenses/odbl/summary/") Open Database License (ODbL)
        img(src="images/licenca.png", width="450px")
      +slide('blue')
        h3 Lição 3
        h1 Visualização <br>& Edição
      +slide('blue')
        h3 O que são Tiles?
        img(src="images/pyramid.jpeg", width='650px')
      +slide('blue')
        h3 Qual o custo de um servidor Tiles?
        iframe(width="720", height="480", src="http://tools.geofabrik.de/calc/#type=geofabrik_standard&bbox=-53.109,-25.483268,-44.161,-19.782327", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Solução => Vector Tiles
        p Tamanho total do arquivo do estado de São Paulo 54 Mb compactado!
        p Saiba mais e baixa mapas diretamente vetorizados em <a href="http://osm2vectortiles.org/downloads/">OSM2Vectortiles</a>
      +slide('blue')
        h2 Exemplo de mapa vetorizado
        iframe(width="720", height="480", src="http://localhost:8090/styles/bright-v9/?vector#12.65/-23.5469/-46.6349", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Ferramentas de Edição - <a href="https://josm.openstreetmap.de">JOSM</a>
        img(src="images/josm.jpg", width="600px")
      +slide('blue')
        h2 Ferramentas de Edição - <a href="http://www.qgis.org/en/site/">QGIS</a>
        img(src="images/qgis.png", width="700px")
      +slide('blue')
        h2 Ferramentas de Edição - <a href="http://www.openstreetmap.org/">iD</a>
        iframe(width="720", height="480", src="http://localhost:80/edit", frameborder="0", allowfullscreen)
      +slide('blue')
        h3 Lição Bônus
        h1 OSM Local
      +slide('blue')
        h3 Arquitetura do site
        img(src="images/OSM_Components.png", width="700px")
      +slide('blue')
        img.avatar(src='images/profile.jpeg')
        br
        h2 Obrigado! ;)
        a(href='http://beeline-app.com/', style='border:none')
          h3 beeline-app.con
        a(href='https://facebook.com/beelineappbr', style='border:none')
          h3 @beelineappbr

    script(src='build/build.js')
