mixin slide(names, slideClasses)
  if names
    section(class=names+' '+slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function(name) { return 'backdrop--' + name; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Ultilizando o Openstreetmap como solução de mapas abertos - Lições aprendidas
  link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      +slide('bluemap')
        h3 Openstreetmap como solução de mapas abertos
        h1 Lições aprendidas
      +slide('blue')
        h2 Sobre o Beeline
      +slide('blue')
        h2 Sobre o MedidaSP
      +slide('blue')
        h1 Mapas Open Source
        h3 Porque utilizar?
      +slide('blue')
        h2 Quem poderia utilizar?
        ul
          li Desenvolvedores de aplicativos com mapas
          li Arquitetos, Urbanistas e engenheiros
          li Poder Público
      +slide('blue')
        h2 Open Source
        h3 &mdash; vs &mdash;
        h2 Google Maps
      +slide('blue')
        h2 Comparação cidade universitária
        iframe(width="560", height="315", src="http://tools.geofabrik.de/mc/#14/-23.5612/-46.7283&num=2&mt0=geofabrik&mt1=google-map", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Evolução Liberdade
        iframe(width="720", height="480", src="http://osm-analytics.org/#/compare/polygon:l%7Bs%7BGxxwnCzEdPfE%7CHdAhEt%40dLnAxJKvKbBjc%40wb%40bJ%7BHSzA~%40CZWVeBDaBbD%5DfAa%40dH%5Bj%40aTx%40sCKkAc%40e%40u%40uNC_P%7DpA%60Bo%40XcEnAiB%5EeHrAArDk%40kDcOrLeEt%40uUn%40D%7CA%7CD%7C%40fAjBx%40fANzb%40nA/2016...now/buildings", frameborder="0", allowfullscreen)
      +slide('blue')
        h2 Vídeo de 10 anos de Openstreetmap
        iframe(width="560", height="315", src="https://www.youtube.com/embed/7sC83j6vzjo", frameborder="0", allowfullscreen)
      +slide('blue')
        h1 Dados
      +slide('blue')
        h2 Informações geoespaciais
        ul
          li Ponto (Nodes)
          li Linha (Ways)
          li Polígonos (Polygon)
      +slide('blue')
        h1 Visualização <br>& Edição
      +slide('blue')
        h2 Ferramentas de Edição - <a href="https://josm.openstreetmap.de">JOSM</a>
        img(src="images/josm.jpg", width="600px")
      +slide('blue')
        h2 Ferramentas de Edição - <a href="http://www.qgis.org/en/site/">QGIS</a>
        img(src="images/qgis.png", width="700px")
      +slide('blue')
        h2 Ferramentas de Edição - <a href="https://www.openstreetmap.org/">iD</a>
        iframe(width="900", height="480", src="http://strava.github.io/iD/", frameborder="0", allowfullscreen)
      +slide('blue')
        h1 Estudos de caso
        h3 O que dá pra fazer com essas ferramentas?
      +slide('blue')
        h1 1: Organizar e fortalecer ativistas
      +slide('blue')
        h3 Mapa das ocupadas na "reorganização escolar"
        img(src="images/reorganizacao-1.png", width="650px")
        h5.small (Centro de Mídia Independente)
      +slide('blue')
        h3 Tabela das necessidades e situação das escolas
        img(src="images/reorganizacao-2.png", width="650px")
        h5.small (Centro de Mídia Independente)
      +slide('blue')
        h1 2: Expor desigualdades
      +slide('blue')
        h3 Da onde vêm as pessoas que são presas?
        img(src="images/m-blocks-1.png", width="350px")
        h5.small (Columbia: Million Dollar Blocks)
      +slide('blue')
        h3 Quanto o Estado gasta para manter essas pessoas presas?
        img(src="images/m-blocks-2.png", width="350px")
        h5.small (Columbia: Million Dollar Blocks)
      +slide('blue')
        h3 Quem dá nome às ruas de SP?
        img(src="images/nomes-rua-2.png", width="600px")
        h5.small (Medida SP)
      +slide('blue')
        h1 3: Conquistar direitos e espaços públicos
      +slide('blue')
        h3 596 Acres: ajuda a encontrar terrenos vazios em Nova York
        img(src="images/596-1.png", width="650px")
        h5.small (596 Acres / Living Lots)
      +slide('blue')
        h3 Cada terreno tem uma página com informações e um fórum
        img(src="images/596-2.png", width="650px")
        h5.small (596 Acres / Living Lots)
      +slide('blue')
        h3 Não basta ficar na frente do computador!
        img(src="images/596-3.png", width="650px")
        h5.small (596 Acres / Living Lots)
      +slide('blue')
        h1 Antes de sair mapeando...
      +slide('blue')
        h2 Pense em alguns pontos
        ul
          li Pra que vai servir o mapa?
          li Pra quem é o mapa?
          li Que mapas parecidos já existem?
      +slide('blue')
        h3 Faça uns rabiscos à mão (podem ser feios!)
        img(src="images/prototipo-1.jpg", width="650px")
        h5.small (Kainos)
      +slide('blue')
        p Depois você pode procurar dados
        p e pensar em como viabilizar seu mapa.
      +slide('blue')
        span
          img.avatar(src='images/icone-abelha.png')
          &nbsp;
          img.avatar(src='images/logo-2.png')
        br
        h2 Obrigado! ;)
        a(href='https://facebook.com/beelineappbr', style='border:none')
          h3 facebook.com/beelineappbr
        a(href='https://facebook.com/medidasp', style='border:none')
          h3 facebook.com/medidasp

    script(src='build/build.js')
